.plans-page {

  &.without-padding {
    margin-left: -88px;
  }

  & h2, h3, h4, h5, span {
    font-family: $primaryFont;
  }

  & > h2 {
    font-size: 22px;
    margin: 0;
  }

  .plans-subtitle {
    font-size: 14px;
    font-weight: 300;
    margin-top: 0;
  }

  .plans-block {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
  }

  .plan-item {
    width: 227px;
    height: 357px;
    border-radius: 10px;
    box-shadow: 0px 40px 80px 0 rgba(0, 0, 0, 0.1);
    background-color: #121522;
    overflow: hidden;

    .top-block {
      height: 72px;
      box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.1);
      background-image: $topBlockBgColor;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0 25px;
    }

    .middle-block {
      height: 207px;
      padding: 20px 15px;

      & > div {
        display: flex;
        margin-bottom: 11px;
      }

      .list-item-block {
        display: flex;
        align-items: center;
      }

      .list-item-text {
        font-size: 12px;
        font-weight: normal;
        color: $primaryGreen;
      }
    }

    .bottom-block {
      height: 78px;
      background-color: $darkBlueBgColor;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .plan-title {
      font-size: 16px;
      font-weight: 600;
    }

    .plan-subtitle {
      font-size: 12px;
      font-weight: 300;
      color: $configureTitleColor;
    }
  }

  .arrow-img {
    background-image: url("../styles/icons/mini_arrow.svg");
    width: 13px;
    height: 9px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
  }

  .plan-btn {
    height: 32px;
    font-size: 14px;
    min-width: 148px;
  }

  .current-plan {
    background: transparent;
    text-shadow: none;
    cursor: auto;
    box-shadow: none;
  }
}

