/*** VARIABLES ***/

$primaryBlack: #222222;
$primaryGreen: #b2dd4c;
$primaryRed: #f7493d;
$primaryGrey: #797979;
$primarySilver: #eeeeee;
$primaryWhite: #ffffff;

$backgroundColorHeader: #363636;
$backgroundColorPage: #f1f1f1;
$backgroundColorTable: #dedede;
$backgroundColorFooter: #333333;

$fontColorSmallText: #303030;
$fontColorFooter: #a2a2a2;

$bgColor: #1a223b;
$inputBgColor: #1e2845;
$inputBorderColor: #3a4275;
$inputBgFocusColor: #263255;

$menuBgColor: #1e243a;

$configureTitleColor: #c2ccee;
$topBlockBgColor: linear-gradient(to top, #20273e, #263050);
$darkBgColor: #121522;
$darkBlueBgColor: #151a2c;
$descriptionColor: #7a94f1;
$disabledText: #394173;

$primaryFont: 'Titillium Web', sans-serif;
